
     body{
     	font-family: sans-serif; 	
     	margin: 0 auto;
          padding-top: 20px;

     }
     a:link{
          color: red; 
     	text-decoration: none;
     }a:visited{
          color: red;
     }
     header{
     	background-color: orange;
     	color: white;
     	text-align: center;
     	font-size: 40px;
     }
     nav{

     	line-height: 30px;
     	background-color: #eeeeee;
        padding: 3px;
    
     }nav ul{
     	list-style-type: none;
     	margin: 0 auto;
     	text-align: center;
     	padding-top: 3px;

     }nav ul li{
     	display: inline-block;
     	padding: 10px 15px;
     	font-size: 1.3em;
     	text-transform: uppercase;

     }section{
     	padding: 10px;
     }section{
     	text-transform: capitalize;
     }h1{
     	background-color: black;
     	color: white;
         font-size:20px;
     }p{
     	background-color: #eeeeee;
     	color: black;
     } h1 ul{
     	background-color: #eeeeee;
     }
     ul,li{
     	background-color: #eeeeee;

     }footer{
     	border-top: solid 2px black;
     	padding-top: 10px;
     }
     .container{
     	border-left: solid 2px green;
     	border-top: solid 2px black;
     	border-right: solid 2px green;
     	border-bottom: solid 2px black;
     }h4{
          padding-top: 15px;
          padding: 5px;
          float: right;

     }

     
     
     

